<div class="content">
<table>
  <td widht="40%">
    <div class="book_cover" >
      <%= image_tag @book_info["google"]["image_link"], :class =>"imagestyle" %>
    </div>
  </td>
  <td width="50%">
    <div class="abstract">
      <div class="title_and_author">
        <%= '"'<< @book_info["google"]["title"] +'"' if @book_info["google"]["title"] %>
        <%= "by "<< @book_info["dbpedia"]["author"] if @book_info["dbpedia"]["author"] %>
      </div>
      <div class="text">
        <% if @book_info["dbpedia"]["abstract"] %>
          <%= @book_info["dbpedia"]["abstract"]  %>
        <% else %>
          <p> Try to guess by title </p>
        <% end %>
      </div>
      <div class="otherlink">
        <span>
          <a href= <%= @book_info["google_link"] if @book_info["google_link"] %> >
            <img u="image" class="outside" src=<%=asset_path "google.png"%> />
          </a>
        </span>
        <span>
          <a href= <%= @book_info["amazon_link"] if @book_info["amazon_link"] %> >
            <img u="image" class="outside" src=<%=asset_path "Amazon.png"%> />
          </a>
        </span>
      </div>
      <div class="back">
        <%= link_to_function "Back", "history.back()" %>
      </div>
    </div>

    </td>
    <td width="10%">
      <div class="tablestyle">
        <table>
          <% if @book_info["friendlist"].size > 0 %>
            <% @book_info["friendlist"].each do |id| %>
               <tr><%=image_tag User.find(id)["image_url"], :class =>"friendimage" %></tr>
            <% end %>
          <% else %>
            <p>Be the first one! </p>
          <% end %>
        </table>
      </div>
    </td>
  </table>
</div>